html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  outline: none;
}

body {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  position: relative;
  min-width: 320px;
  margin: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1em;
  direction: ltr;
  background-color: #fff;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}



/*===стилизация select===*/
.select-wrap {
  /* outline: 1px dotted red; */
  z-index: 5;
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.select {
  position: relative;
  display: block;
  z-index: 5;
  width: 100%;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 1em;
  font-weight: 400;
  color: #fff;
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0.2); */

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.select:first-child {
  width: 62px;
}

.select:nth-child(2) {
  width: 101px;
}

.select:last-child {
  width: 73px;
}

.select__head {
  position: relative;
  display: block;
  z-index: 4;
  width: 100%;
  margin: 0 auto;
  padding: 12px 8px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1em;
  font-weight: 400;
  color: #989898;
  text-align: left;
  text-decoration: none;
  background: #f5f5f5;
  border: 1px solid #be5372;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: background 0.1s;
}

.select__head:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 20px;
  height: 20px;
  background: url("../img/icon-arrow.svg") no-repeat center;
  background-size: contain;
  transition: transform 0.4s;
}

.select__head--active:before {
  transform: translateY(-50%) rotate3d(1, 0, 0, 180deg);
}

.select__head--selected {
  color: #000;
}

.select__list {
  position: absolute;
  z-index: 3;
  top: 33px;
  left: 0;
  width: 100%;
  height: 0;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  list-style: none;
  font-size: 14px;
  line-height: 1em;
  color: #989898;
  text-align-last: left;
  border: 1px solid #be5372;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f5f5f5;
  scrollbar-width: thin;
  /* firefox */
  scrollbar-color: #be5372 #f5f5f5;
  /* firefox, «цвет ползунка» «цвет полосы скроллбара» */
  opacity: 0;
  transition: height 0.1s ease-in-out, opacity 0.1s ease-in-out;
}

.select__list::-webkit-scrollbar {
  width: 8px;
  /* webkit */
  background-color: transparent;
}

.select__list::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 4px;
  background-color: #be5372;
}

.select__list--open {
  height: 132px;
  opacity: 1;
}

.select__item {
  padding: 6px 8px;
}

.select__item:hover {
  color: #000;
}

/*===end select===*/